[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpha-vantage = "*"
pydantic = "*"

[dev-packages]
black = "*"
debugpy = "*"
pandas = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
