[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpha-vantage = "*"
marshmallow = "*"
marshmallow-dataclass = "*"

[dev-packages]
black = "*"
debugpy = "*"
pandas = "*"

[requires]
python_version = "3.9"
